@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@600;800&display=swap');
*{
  font-family: "Poppins", sans-serif;
}
#navbar {
  width: 1793px;
  height: 80px;
  display: flex;
  justify-content:safe;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #032541;
  
}
#navbar img {
  margin-left: 75px;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#navbar h3 {
  color: #eeeeee;

}
#navbar h3 {
  margin-right: 100000rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#navbar form {
  display: flex;
  gap: 0.5rem;
  width: 1680px;
}

#navbar input {
  margin-right: -2.6rem;
  margin-left: 20rem;
  width: 120rem;
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
}

#navbar form button {
  
  background-color: rgb(8, 106, 233);
  border: 2px solid #eeeeee;
  border-radius: 4px;
  color: #000;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#navbar a{
  margin-right: -220px;
  color: #eeeeee;
}

#navbar button {
  margin-right: 50rem;
  
}
